.imgLogo{
    background-color: white;
    border-radius: 5em;
    /* border: 1px solid white; */
    
}
.divLogo{
    display: flex;
    align-items: flex-end;
}
.imgUser{
    background-color: white;
    border-radius: 100%;
}