.hero{
    width: 100%;
    object-fit: cover;
}
.textHero{
    display: flex;
    justify-content: center;
   
}
.imageHero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid rgb(44, 43, 43);
}
.containerSlogan{
    position: absolute;
    top: 1%;
    left: 15%;
}
h2{
    margin: 0;
}
.HeroCities{
    width: 100vw;
    height: 100vh;
}
