*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sign Up */

.divContainerSignUp{
    background-image: url(./imagesSign/backgroundSignUp.jpg);
    height: 100% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    background-size: cover !important;
    /* background-repeat: no-repeat !important; */
    /* background-position: 30% 75%; */
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;

}

.inputsSU{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registerContainer{
    background-color: white !important;
    width: 60%;
    border-radius: 1em;
    padding: 1em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.formContainer{
    width: 100%;
}
.CardContentForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}
.imgSignUp{
    z-index: 1;
}
.photoSU{
    border-radius: 1em;
    height: 65vh;
    margin-left: 70%;
    margin-top: 30%;
}
.contentFormSU{
     text-align: right;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
/* button Sign Up*/
.button {
    position: relative;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
   }
   
.spanSign{
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
    }

.button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #49c5ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.button .liquid::after,
.button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

.button .liquid::before {
    border-radius: 45%;
    background: rgb(22, 56, 121);
    animation: animate 5s linear infinite;
}

.button .liquid::after {
    border-radius: 40%;
    background: rgba(30, 79, 184, 0.5);
    animation: animate 10s linear infinite;
}

.button:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
    transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
    transform: translate(-50%, -75%) rotate(360deg);
    }
}

.divContainerSignIn{
    background-color: rgb(14, 53, 88);
    height: 100vh !important;
    width: 100% !important;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.textSignIn{
    background-image: url(./imagesSign/login.jpg) !important;
    background-size: cover;
    object-fit: cover;
    color: hsl(216, 50%, 16%);
    height: 100% !important;
    width: 45%;
    padding: 1em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.buttonsocial :nth-child(1){
	margin-right: 0px !important;
	width: 45px !important;
}
.buttonGoogle{
    color: black !important;
    border: 2px solid rgb(24, 145, 185) !important;
    box-shadow: 3px #114861 !important;
    letter-spacing: 2px;
    margin-bottom: 1em !important;
}
.buttonsocial{
	height: 50px;
	margin-bottom: 5px;
	display: flex;
	justify-content: left;
	align-items: center;
	border: 0px;
	border-radius: 10px !important;
}

/* card sign up*/

  /* media query to use */
@media screen and (min-width: 800px) {
.card {
    display: flex;
    width: 100%;
    border-radius: 10px;
    border: none;
}
.card-image {
    border-radius: 5px 0px 0px 5px;
    border: none;
}
.card-inner {
    flex: 3px;
}
}

.formLogIN{
    background-color: white !important;
    width: 60%;
    padding: 1em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

/* button Sign In */
.buttonLogIn {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

.buttonLogIn span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
}

.buttonLogIn span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.buttonLogIn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
}

.buttonLogIn:hover {
    color: white;
}

.buttonLogIn:active span::before {
    background: #2751cd;
}
@media (max-width: 1000px){
    .textSignIn{
        display: none;
    }
}